  $primaryTextColor: #FFFFFF;
  $secondaryTextColor: #D41443;
  $subtitleTextColor: #FFA5BA;
  $textcolor: #907E82;
  $blacktext: #000000;
  $headerBgc: #FFB8CA;
  $primaryBgc: #E5E5E5;
  $secondaryBgc: #FFF5F6;
  $btnBgcSecondary: #D41342;
  $btnBgcPrimary: #FFFFFF;
  $modal-background: #e17992;
  $iceCoffeeBgc: #F0D1A5;
  $milkShakesBgc: #C2E297;
  $primaryFontFamily: 'DM Sans', sans-serif;
  $secondaryFontFamily: 'Titan One', cursive;