<section id="about" class="about">
    <div class="container">
        <p class="about-subtitle">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
        <div class="about-content">
            <picture class="about-picture">
                <source media="(min-width:1200px )" 
                        srcset="
                            /src/images/about/about-image__lg.png 1x, 
                            /src/images/about/about-image__lg@2x.png 2x
                            " 
                            type="image/png" />
                <source media="(min-width:768px )" 
                        srcset="
                            /src/images/about/about-image__md.png 1x, 
                            /src/images/about/about-image__md@2x.png 2x
                            " 
                            type="image/png" />
                <source media="(max-width:767px )" 
                        srcset="
                            /src/images/about/about-image__sm.png 1x, 
                            /src/images/about/about-image__sm@2x.png 2x
                            " 
                            type="image/png" />
                <img class="about-img" 
                src="/src/images/about/about-image__sm.png" 
                alt="Изображение коровы с графином молока"
                loading="lazy">
            </picture>
            <div class="about-content__textarea">
                <p class="about-content__text--accent">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
                    cursus, faucibus lorem eget, egestas eros.
                    Maecenas eleifend erat at justo fringilla.</p>
                <p class="about-content__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                    orci in imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="about-content__text--sentence">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about-btn" type="button" data-modal-open-about>
                    <span class="about-btn__text">Read more</span>
                    <svg class="about-btn__icon" width="8" height="10">
                        <use href="/src/images/symbol-defs.svg#icon-arrow-2"></use>
                    </svg>
                </button>
            </div>
        </div>  
    </div>
    <div class="backdrop is-hidden" data-modal-about>
    
        <div class="modal-wrapper">
    
            <button class="modal-btn" data-modal-close-about>
                <svg width="11" height="11">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
    
            <!--Форма модалки -->
    
            <div>
    
                <h4 class="modal-title">How milk is made</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque minus ipsam adipisci assumenda consequatur sint recusandae perferendis incidunt iusto! Quasi ad incidunt esse? Velit, laudantium repellendus quidem omnis delectus sapiente.</p>
    
            </div>
    
        </div>
    </div>
</section>