<section id="about" class="about">
    <div class="container">
        <p class="about-subtitle">tradition and love</p>
        <h2 class="about-title">how it’s made?</h2>
        <div class="about-content">
            <picture class="about-picture">
                <source media="(min-width:1200px )" 
                        srcset="
                            /src/images/about/about-image__lg.png 1x, 
                            /src/images/about/about-image__lg@2x.png 2x
                            " 
                            type="image/png" />
                <source media="(min-width:768px )" 
                        srcset="
                            /src/images/about/about-image__md.png 1x, 
                            /src/images/about/about-image__md@2x.png 2x
                            " 
                            type="image/png" />
                <source media="(max-width:767px )" 
                        srcset="
                            /src/images/about/about-image__sm.png 1x, 
                            /src/images/about/about-image__sm@2x.png 2x
                            " 
                            type="image/png" />
                <img class="about-img" 
                src="/src/images/about/about-image__sm.png" 
                alt="Изображение коровы с графином молока"
                loading="lazy">
            </picture>
            <div class="about__wrap-text">
                <p class="about__preface">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                    <br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <input type="checkbox" id="read-more" hidden />
                <p class="about__text extra-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
                     Cras massa nibh, tincidunt. Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>            
                <label for="read-more" class="btn about__btn read-more">Read <span class="more">more</span><span class="less">less</span>
                    <svg width="5" height="8" class="about__btn-icon">
                        <use href="/src/images/symbol-defs.svg#icon-arrow-2"></use>
                    </svg>
                </label>
            </div>
        </div>
            
    </div>
</section>