<section class="section">
    <div class="container">
        <ul class="contacts-list">

            <li class="contacts-list__item">
                <p class="contacts-list__title">CAFE</p>
                <p class="contacts-list__city">Chicago</p>
                <p class="contacts-list__discr">
                    Fusce ut velit laoreet, 
                    tempus arcu molestie vulputate
                </p>

              <div class="contacts-timetable">

                <p class="contacts-list__days">Monday - Friday</p>
                <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

                <p class="contacts-list__days">Saturday - Sunday</p>
                <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
              </div>

              <div class="contacts-group">
                <a href="tel:+61(0)383766284" class="contacts-list__tel" target="_blank" rel="noopener noreferrer">
                    +61(0) 383 766 284 </a>

                <a href="mail:noreply@envato.com" class="contacts-list__email" target="_blank" rel="noopener noreferrer">
                    noreply@envato.com</a>
               </div> 
            </li>

            <li class="contacts-list__item">
                <p class="contacts-list__title title-green">FOOD TRUCK</p>
                <p class="contacts-list__city">Los Angeles</p>
                <p class="contacts-list__discr">
                    Fusce ut velit laoreet, 
                    tempus arcu molestie vulputate
                </p>

               <div class="contacts-timetable">
                <p class="contacts-list__days">Monday - Friday</p>
                <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

                <p class="contacts-list__days">Saturday - Sunday</p>
                <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
               </div>

               <div class="contacts-group">
                <a href="tel:+61(0)383766284" class="contacts-list__tel" target="_blank" rel="noopener noreferrer">
                    +61(0) 383 766 284 </a>

                <a href="mail:noreply@envato.com" class="contacts-list__email" target="_blank" rel="noopener noreferrer">
                    noreply@envato.com</a>
               </div>

            </li>

            <li class="contacts-list__item">
                <p class="contacts-list__title">CAFE</p>
                <p class="contacts-list__city">New York</p>
                <p class="contacts-list__discr">
                    Fusce ut velit laoreet, 
                    tempus arcu molestie vulputate
                </p>

               <div class="contacts-timetable">
                <p class="contacts-list__days">Monday - Friday</p>
                <p class="contacts-list__time">06:00 AM - 10:00 PM</p>

                <p class="contacts-list__days">Saturday - Sunday</p>
                <p class="contacts-list__time">08:00 AM - 16:00 PM</p>
               </div>

               <div class="contacts-group">
                <a href="tel:+61(0)383766284" class="contacts-list__tel" target="_blank" rel="noopener noreferrer">
                    +61(0) 383 766 284 </a>

                <a href="mail:noreply@envato.com" class="contacts-list__email" target="_blank" rel="noopener noreferrer">
                    noreply@envato.com</a>
               </div>

            </li>

        </ul>

      <div class="contacts-buttons">
        <button class="button " type="button"> <span class="button-text">Our Locations</span>
            <iframe class="button-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1525216.789987256!2d-74.10179575392488!3d40.31075468454235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sat!4v1656155624197!5m2!1sen!2sat" width="190" height="55" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <!-- <svg class="header-cont-icon" width="10" height="16">
                <use href="images/symbol-defs.svg#icon-arrow"></use>
              </svg> -->
        </button>

        <button class="button button-another" type="button" data-modal-open> <span class="button-text text-another">Franchise</span>
        </button>

        <div class="backdrop is-hidden" data-modal>
                
            <div class="modal-wrapper">

              <button class="modal-btn" data-modal-close>
                <svg width="11" height="11">
                  <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
              </button>
              
              <!-- ​‌‍‌⁡⁢⁣⁣Форма⁡​ модалки -->

              <div>
                
                 <b class="modal-title"> Leave your details, we will call you back</b>
                <form class="modal-form" name="modal-discr">

                  <label class="modal-form__group">
                    <input class="modal-form__input" type="text" required name="user-name" id="user-name" placeholder="Full name">

                  </label>

                  <label class="modal-form__group">       
                   <input class="modal-form__input" type="tel" required name="user-tel" id="user-tel" placeholder="Phone">


                  </label>

                  <label class="modal-form__group">  
                   <input class="modal-form__input" type="email" required name="user-email" id="user-email" placeholder="E-mail">

                  </label>

                  <!-- ​‌‍‌⁡⁢⁣⁣Textarea⁡​ -->
<!-- 
                 <label class="modal-form__area">
                   <textarea class="modal-form__textarea" name="" id="" cols="30" rows="10" placeholder="Введите текст"></textarea>
                 </label> -->
              

                 <div class="modal-form__btn">
                 <button class="modal-btn__submit" type="submit"> <span class="modal-btn__text">Sent</span></button>
                 </div>
                </form>

              </div>
            
            </div>

          </div>   
      </div>

    </div>
</section>