<footer>
    <div class="footer section">
  <p class="footer__subtitle">homemade ice cream made </p>  
  <p class="footer__title">with passion</p>
  <ul class="social-contact__list">
    <li class="social-contact__item"> 
        <a class="social-contact__link" href="" rel="noopener noreferrer"
                      aria-label="Github">
                      <svg class="social-contact__icon" width="34" height="34">
                        <use href="./src/images/symbol-defs.svg#icon-github></use>
                      </svg>
                    </a>
                </li>
    <li class="social-contact__item"> 
        <a class="social-contact__link" href="" rel="noopener noreferrer"
                      aria-label="Telegram">
                      <svg class="social-contact__icon" width="34" height="34">
                        <use href="./src/images/symbol-defs.svg#icon-telegram"></use>
                      </svg>
                    </a>
    </li>
    <li class="social-contact__item"> 
        <a class="social-contact__link" href="" rel="noopener noreferrer"
                      aria-label="Facebook">
                      <svg class="social-contact__icon" width="34" height="34">
                        <use href="./src/images/symbol-defs.svg#icon-facebook"></use>
                      </svg>
                    </a>
    </li>
  </ul>
  <p class="footer__invite">Feel free to contact <a class="footer__phone"
    href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></p>
  <p class="footer__text">&#169 2022 - IceCream. All Rights Reserved. </p>
  </div>
</footer>