<footer class="footer__section">
      <div class="footer container">
      <div class="footer-title">
  <p class="footer__subtitle">homemade ice cream made </p>  
  <p class="footer__title">with passion</p>
      </div>
      <div class="social-contact">
  <ul class="social-contact__list">
    <li class="social-contact__item"> 
        <a class="social-contact__link" href="" rel="noopener noreferrer" target="_blank"
                      aria-label="Github">
                      <svg class="social-contact__icon" width="34" height="34">
                        <use href="./images/symbol-defs.svg#icon-github"></use>
                      </svg>
                    </a>
                </li>
    <li class="social-contact__item"> 
        <a class="social-contact__link" href="" rel="noopener noreferrer" target="_blank"
                      aria-label="Telegram">
                      <svg class="social-contact__icon" width="34" height="34">
                        <use href="./images/symbol-defs.svg#icon-telegram"></use>
                      </svg>
                    </a>
    </li>
    <li class="social-contact__item"> 
        <a class="social-contact__link" href="" rel="noopener noreferrer" target="_blank"
                      aria-label="Facebook">
                      <svg class="social-contact__icon" width="34" height="34">
                        <use href="./images/symbol-defs.svg#icon-facebook"></use>
                      </svg>
                    </a>
    </li>
  </ul>
   <p class="footer__invite">Feel free to contact <a class="footer__phone"
    href="tel:+61(0)383766284">+61 (0) 383 766 284</a></p>
      </div> </div>
    <div class="footer__text">
  <p class="footer__sens">&#169;2022 - IceCream.</p> <p class="footer__sens--break">All Rights Reserved.</p>
</div>  
</footer>