<section class="gallery">
    <div class="gallery__container">
        <ul class="gallery__list">
            <li class="gallery__list-item1">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-1__lg.png 1x,
            /src/images/gallery/image-1__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-1__md.png 1x,
            /src/images/gallery/image-1__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-1__sm.png 1x,
            /src/images/gallery/image-1__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->
                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-1__sm.png" 
                 alt="pistachio ice cream"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item2">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-2__lg.png 1x,
            /src/images/gallery/image-2__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-2__md.png 1x,
            /src/images/gallery/image-2__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/team/team_member-2_sm.jpg 1x,
            /src/images/team/team_member-2_sm@2x.jpg 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/team/team_member-2_sm.jpg" 
                 alt="strawberry ice cream"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item3">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
           /src/images/gallery/image-4__lg.png 1x,
            /src/images/gallery/image-4__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-4__md.png 1x,
            /src/images/gallery/image-4__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
        /src/images/gallery/image-4__sm.png 1x,
            /src/images/gallery/image-4__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img" 
                src="/src/images/gallery/image-4__sm.png" 
                alt="cone ice creams"
                width="89"
              height="89"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item4">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
             /src/images/gallery/image-6__lg.png 1x,
            /src/images/gallery/image-6__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-6__md.png 1x,
            /src/images/gallery/image-6__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-6__sm.png 1x,
            /src/images/gallery/image-6__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-6__sm.png" 
                 alt="frozen yogurt"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item5">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
             /src/images/gallery/image-8__lg.png 1x,
            /src/images/gallery/image-8__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-8__md.png 1x,
            /src/images/gallery/image-8__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-8__sm.png 1x,
        /src/images/gallery/image-8__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src=" /src/images/gallery/image-8__sm.png" 
                 alt="dog licking ice cream"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            
            <li class="gallery__list-item6">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
             /src/images/gallery/image-10__lg.png 1x,
            /src/images/gallery/image-10__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
             /src/images/gallery/image-10__md.png 1x,
            /src/images/gallery/image-10__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-10__sm.png 1x,
            /src/images/gallery/image-10__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-10__sm.png" 
                 alt="a milkshake with a cupcake"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item7">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-3__lg.png 1x,
            /src/images/gallery/image-3__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-3__md.png 1x,
            /src/images/gallery/image-3__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
           /src/images/gallery/image-3__sm.png 1x,
            /src/images/gallery/image-3__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-3__sm.png" 
                 alt="frozen fruit juice"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item8">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-5__lg.png 1x,
            /src/images/gallery/image-5__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-5__md.png 1x,
            /src/images/gallery/image-5__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-5__sm.png 1x,
            /src/images/gallery/image-5__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-5__sm.png" 
                 alt="a woman eating ice cream"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item9">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-7__lg.png 1x,
            /src/images/gallery/image-7__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-7__md.png 1x,
            /src/images/gallery/image-7__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-7__sm.png 1x,
            /src/images/gallery/image-7__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-7__sm.png" 
                 alt="watermelon ice cream with a star"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
            <li class="gallery__list-item10">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-9__lg.png 1x,
            /src/images/gallery/image-9__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-9__md.png 1x,
            /src/images/gallery/image-9__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-9__sm.png 1x,
            /src/images/gallery/image-9__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__list-item__img"
                 src="/src/images/gallery/image-9__sm.png" 
                 alt="coffee milkshake"
                 width="43"
              height="43"
              loading="lazy">
                          </picture>
            </li>
        </ul>
    </div>
</section>