<section class="gallery" id="gallery">
    <div class="gallery__grid container">
             <h2 class="visually-hidden gallery__heading">Photo gallery</h2>
            <div class="gallery__grid-item1 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-1__lg.png 1x,
            /src/images/gallery/image-1__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-1__md.png 1x,
            /src/images/gallery/image-1__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-1__sm.png 1x,
            /src/images/gallery/image-1__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->
                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-1__sm.png" 
                 alt="pistachio ice cream"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item2 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-2__lg.png 1x,
            /src/images/gallery/image-2__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-2__md.png 1x,
            /src/images/gallery/image-2__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-2__sm.png 1x,
            /src/images/gallery/image-2__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-2__sm.png" 
                 alt="strawberry ice cream"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item3 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
           /src/images/gallery/image-4__lg.png 1x,
            /src/images/gallery/image-4__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-4__md.png 1x,
            /src/images/gallery/image-4__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
        /src/images/gallery/image-4__sm.png 1x,
            /src/images/gallery/image-4__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img" 
                src="/src/images/gallery/image-4__sm.png" 
                alt="cone ice creams"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item4 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
             /src/images/gallery/image-6__lg.png 1x,
            /src/images/gallery/image-6__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-6__md.png 1x,
            /src/images/gallery/image-6__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-6__sm.png 1x,
            /src/images/gallery/image-6__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-6__sm.png" 
                 alt="frozen yogurt"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item5 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
             /src/images/gallery/image-8__lg.png 1x,
            /src/images/gallery/image-8__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-8__md.png 1x,
            /src/images/gallery/image-8__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-8__sm.png 1x,
        /src/images/gallery/image-8__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-8__sm.png" 
                 alt="dog licking ice cream"
              loading="lazy">
                          </picture>
                        </div>
            
            <div class="gallery__grid-item6 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
             /src/images/gallery/image-10__lg.png 1x,
            /src/images/gallery/image-10__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
             /src/images/gallery/image-10__md.png 1x,
            /src/images/gallery/image-10__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-10__sm.png 1x,
            /src/images/gallery/image-10__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-10__sm.png" 
                 alt="a milkshake with a cupcake"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item7 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-3__lg.png 1x,
            /src/images/gallery/image-3__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-3__md.png 1x,
            /src/images/gallery/image-3__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
           /src/images/gallery/image-3__sm.png 1x,
            /src/images/gallery/image-3__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-3__sm.png" 
                 alt="frozen fruit juice"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item8 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-5__lg.png 1x,
            /src/images/gallery/image-5__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-5__md.png 1x,
            /src/images/gallery/image-5__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-5__sm.png 1x,
            /src/images/gallery/image-5__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-5__sm.png" 
                 alt="a woman eating ice cream"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item9 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-7__lg.png 1x,
            /src/images/gallery/image-7__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-7__md.png 1x,
            /src/images/gallery/image-7__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-7__sm.png 1x,
            /src/images/gallery/image-7__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-7__sm.png" 
                 alt="watermelon ice cream with a star"
              loading="lazy">
                          </picture>
                        </div>
            <div class="gallery__grid-item10 grid-item">
                 <picture>
              <!-- Picture for desktop screen -->
            <source media="(min-width: 1200px)" 
            srcset="
            /src/images/gallery/image-9__lg.png 1x,
            /src/images/gallery/image-9__lg@2x.png 2x"
            type="image/png"
            />
               <!-- Picture for tablet screen -->
            <source media="(min-width: 768px)" 
            srcset="
            /src/images/gallery/image-9__md.png 1x,
            /src/images/gallery/image-9__md@2x.png 2x"
            type="image/png"
            />
                  <!-- Picture for mobile screen -->
            <source media="(max-width: 767px)" 
            srcset="
            /src/images/gallery/image-9__sm.png 1x,
            /src/images/gallery/image-9__sm@2x.png 2x"
            type="image/png"
            />
            <!-- Default picture -->

                <img class="gallery__grid-img"
                 src="/src/images/gallery/image-9__sm.png" 
                 alt="coffee milkshake"
              loading="lazy">
                          </picture>
                        </div>
    </div>
</section>