<section class="section">
    <header class="header">
        <div class="container">
            <nav class="navigation">
                <a href="" class="navigation__logo">
                    <img src="/src/images/hero-header/logo.png" alt="">
                </a>
                <svg width="20px" height="12px">
                    <use href ="/src/images/symbol-defs.svg#icon-menu">
                </svg>
            </nav>
            <div class="hero">
                <h1 class="hero__tittle">
                    Ice cream made with passion
                </h1>
                <ul class="hero__buttons-list">
                    <li class="hero__buttons-item">
                        <button class="hero__button">
                            Products
                        </button>
                    </li>
                    <li class="hero__buttons-item">
                        <button class="hero__button">
                            How it's made?
                        </button>
                    </li>
                </ul>
                <img src="/src/images/hero-header/ellipse__lg.png" alt="pink circle">
                <img src="/src/images/hero-header/ice-cream-cone__lg.png" alt="icecream"
            </div>
        </div>
    </header>
    
</section>