<!-- !Кнопка моб-меню -->

            <button
                type="button"
                class="open-mob-menu-bt js-open-menu"
                aria-expanded="false"
                aria-controls="mobile-menu"
            >
                <svg 
                    width="20px" 
                    height="12px">
                    <use href="/src/images/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button>

             <!--!Кнопка Buy now  -->

            <button type="button" class="btn header-btn">
                Buy now
                <svg 
                width="5px" 
                height="8px" 
                class="header-btn__icon">
                    <use href="/src/images/symbol-defs.svg#icon-arrow-2"></use>
                </svg>
            </button>
    </div>

            <!-- !Моб-меню-->

            <div class="mob-menu js-menu-container" id="mobile-menu">
                <div class="mob-menu__container">
                        <button type="button" class="close-mob-menu-btn js-close-menu">
                            <svg 
                            width="14px" 
                            height="14px">
                                <use href="/src/images/symbol-defs.svg#icon-close"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn mob-menu-btn">
                            Buy now
                            <svg 
                                width="5px" 
                                height="8px" 
                                class="mob-menu-btn__icon">
                                <use href="/src/images/symbol-defs.svg#icon-arrow-2"></use>
                            </svg>
                        </button>

            <!-- !Навигация моб-меню -->

                    <nav class="mob-menu-navigation">
                        <ul class="mob-menu-navigation__list">
                            <li class="mob-menu-navigation__item">
                                <a href="#home" class="mob-menu-navigation__link">Home</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#about" class="mob-menu-navigation__link">About us</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#how-its-made" class="mob-menu-navigation__link">How it’s made?</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#products" class="mob-menu-navigation__link">Our products</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#contact" class="mob-menu-navigation__link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>