<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list">
      <li class="products-list__item products-list__item--ice-cream">
        <h3 class="products-list__title products-list__title--ice-cream">
          ice cream
        </h3>
        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          class="products-list__btn js-open-menu-a"
          aria-controls="des-ice-cream"
        >
          <svg class="product-list__icon" width="11" height="20">
            <use href="./images/symbol-defs.svg#arrow-right"></use>
          </svg>
        </button>
        <div class="des des--ice-cream js-menu-container-a" id="des-ice-cream">
          <div class="reverse">
            <button
              type="button"
              class="products-list__btn products-list__btn--des js-close-menu-a"
              aria-controls="des-ice-cream"
            >
              <svg class="product-list__icon" width="14">
                <use href="./images/symbol-defs.svg#close-delete-icon"></use>
              </svg>
            </button>
            <h3 class="products-list__title--description">menu</h3>
          </div>

          <ul class="ice-cream-menu">
            <li class="ace-cream-menu__list">
              <span>Chocolate</span><span>$ 5</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Vanilla</span><span>$ 4</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Mango</span><span>$ 4</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Mint</span><span>$ 3.5</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Strawberry</span><span>$ 6</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Raspberry</span><span>$ 6</span>
            </li>
          </ul>
        </div>
      </li>
      <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->
      <li class="products-list__item products-list__item--ice-coffee">
        <h3 class="products-list__title products-list__title--ice-coffee">
          ice coffee
        </h3>
        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          class="products-list__btn js-open-menu-b"
          aria-controls="des-icecoffee"
        >
          <svg class="product-list__icon" width="11" height="20">
            <use href="./images/symbol-defs.svg#arrow-right"></use>
          </svg>
        </button>
        <div
          class="des des--ice-coffee js-menu-container-b"
          id="des-ice-coffee"
        >
          <div class="reverse">
            <button
              type="button"
              class="products-list__btn products-list__btn--des js-close-menu-b"
              aria-controls="des-icecoffee"
            >
              <svg class="product-list__icon" width="14">
                <use href="./images/symbol-defs.svg#close-delete-icon"></use>
              </svg>
            </button>
            <h3 class="products-list__title--description">menu</h3>
          </div>
          <ul class="ice-cream-menu">
            <li class="ace-cream-menu__list">
              <span>Iced frappe</span><span>$ 4</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Iced cafe latte</span><span>$ 5</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Iced flat white</span><span>$ 5</span>
            </li>
          </ul>
        </div>
      </li>
      <!-- //////////////////////////////// -->

      <li class="products-list__item products-list__item--milkshakes">
        <h3 class="products-list__title products-list__title--milkshakes">
          milkshakes
        </h3>
        <p class="products-list__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button
          type="button"
          class="products-list__btn js-open-menu-c"
          aria-controls="des-milkshakes"
        >
          <svg class="product-list__icon" width="11" height="20">
            <use href="./images/symbol-defs.svg#arrow-right"></use>
          </svg>
        </button>
        <div
          class="des des--milkshakes js-menu-container-c"
          id="des-milkshakes"
        >
          <div class="reverse">
            <button
              type="button"
              class="products-list__btn products-list__btn--des js-close-menu-c"
              aria-controls="des-milkshakes"
            >
              <svg class="product-list__icon" width="14">
                <use href="./images/symbol-defs.svg#close-delete-icon"></use>
              </svg>
            </button>
            <h3 class="products-list__title--description">menu</h3>
          </div>
          <ul class="ice-cream-menu">
            <li class="ace-cream-menu__list">
              <span>Chocolate-cherry</span><span>$ 6</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Hawaiian coconut</span><span>$ 7</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Caramel-banana</span><span>$ 5</span>
            </li>
            <li class="ace-cream-menu__list">
              <span>Strawberry-babana</span><span>$ 6</span>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="to-top">
    <a class="to-top__link" href="#header">
      <svg class="arrow-up" width="14" height="14">
        <use href="./images/symbol-defs.svg#arrow-up"></use>
      </svg>
    </a>
  </div>
</section>
