<section class="reviews " id="reviews">
    <div class="container">
        <h2 class="visually-hidden"> Reviews</h2>
        <div class="carousel"> 
            <div class="carousel_item">
                <div class="reviews__item">
               <picture>
                <source media="(min-width: 1200px)" srcset="
                    ./images/reviews/reviews1.png 1x, 
                    ./images/reviews/reviews1@2x.png 2x"
                    type="image/png" />
            
                <source media="(min-width: 768px)" srcset="
                     ./images/reviews/reviews1.png 1x,
                     ./images/reviews/reviews1@2x.png 2x"
                    type="image/png" />
            
                <source media="(max-width: 767px)" srcset="
                    ./images/reviews/reviews1.png 1x,
                    ./images/reviews/reviews1@2x.png 2x"
                    type="image/png" />
            
                <img class="reviews__img carousel_img" src="./images/reviews/reviews1.png" alt="emily's review" width="85" height="85"
                    loading="lazy" />
            </picture>
            <div class="reviews__backgraund">
            <p class="reviews__text">
                Great place to chill with your freands. They had a great selection of flavors and will make any of them into milkshakes. I had Almond Joy and it was the bomb. Been craving it ever since.
            </p></div>

            <p class="reviews__person">Emily, Los Angeles</p> </div></div>
            
            <div class="carousel_item">
                <div class="reviews__item">
                
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="
                        ./images/reviews/reviews2.png 1x,
                        ./images/reviews/reviews2@2x.png 2x" type="image/png" />
            
                    <source media="(min-width: 768px)"
                        srcset="
                        ./images/reviews/reviews2.png 1x,
                        ./images/reviews/reviews2@2x.png 2x" type="image/png" />
            
                    <source media="(max-width: 767px)"
                        srcset=" 
                        ./images/reviews/reviews2.png 1x,
                        ./images/reviews/reviews2@2x.png 2x" type="image/png" />
            
                    <img class="reviews__img carousel_img" src="./images/reviews/reviews2.png" alt="Sophia's review" width="85" height="85"
                        loading="lazy" />
                 </picture>  
                 <div class="reviews__backgraund">
                <p class="reviews__text">
                    Holy Cow is not only AMAZING ice cream, they are just good people, so willing to please their customers especially the "Littles"! We will def come back to try more things.</p></div>
                <p class="reviews__person">Sophia, New York</p>
            </div></div>
            
            <div class="carousel_item">
                <div class="reviews__item">
                <picture>
                    <source media="(min-width: 1200px)"
                        srcset="
                        ./images/reviews/reviews3.png 1x,
                        ./images/reviews/reviews3@2x.png 2x" type="image/png" />
            
                    <source media="(min-width: 768px)"
                        srcset="
                        ./images/reviews/reviews3.png 1x,
                        ./images/reviews/reviews3@2x.png 2x" type="image/png" />
            
                    <source media="(max-width: 767px)"
                        srcset="
                        ./images/reviews/reviews3.png 1x,
                        ./images/reviews/reviews3@2x.png 2x" type="image/png" />
            
                    <img class="reviews__img carousel_img" src="./images/reviews/reviews3.png" alt="Charlotte's review" width="85" height="85"
                        loading="lazy" />
                </picture>
                <div class="reviews__backgraund">
                <p class="reviews__text">
                    I got the vegan s’mores and was highly satisfied. Being lactose intolerant makes it hard to find ice cream substitutes, but with their vegan ice cream it doesn’t even feel like a substitute!!!
                </p> </div>
                <p class="reviews__person">Charlotte, Chicago</p></div>
             </div>
            
        </div>
      
    </div> 
    </section>