.mobile-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;

    display: flex;
    flex-direction: column;

    background-color: #E17992;
    @media screen and (min-width:1200px) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 254px;
    }
}

.mobile-menu.is-open{
    transform: translateX(0);
    filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
    
}

.mobile-menu__svg{
    // position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
}

.mobile-men__burger-icon{
    cursor: pointer;
    transition: 250ms ease;

    &:hover,
    &:focus{
        width: 20px;
        height: 20px;
        fill: $secondaryTextColor;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.another-svg{
    fill: #FFFFFF ;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 32px;
    margin-top: 20px;
    transition: 250ms ease;

    &:hover,
    &:focus{
        fill:deeppink;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.mobile-menu__arrow-icon{
    fill:  $secondaryTextColor;
}

.mobile-menu__button-container{
    display: flex;
    justify-content: center;
}

.mobile-menu__button{
    border-color: transparent;
    background-color: transparent;
}

.mobile-menu__buy-button{
    background: #FFFFFF;
    margin-top: 58px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 22px;
    border-color: transparent;
    width: 186px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 250ms ease;

    &:hover,
    &:focus{
        background-color: #ECEBEB;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.mobile-menu__text{
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-right: 21px;
    
    color: #D41443;
}

.mob-menu-navigation__link{
    font-family: $primaryFontFamily;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    
    color: #FFFFFF;
    transition: 250ms ease;

    &:hover,
    &:focus{
        color: #D41443;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.mob-menu-navigation__item{
    border-bottom: 1px solid #E18298;
    border-top: 1px solid #E18298;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
    margin-bottom: 0;
}

.mob-menu-navigation__item:nth-child(1){
    border-top: none;
    padding-top: 0; ;
}