.advantages {
    background-color: $secondaryBgc;
    padding-bottom: 30px;

    @include mq(tablet) {
        padding-bottom: 32px;
        }
        
        @include mq(desktop) { 
        padding-bottom: 60px;
        }


}

.advantages__title {
    opacity: 0;
    visibility: hidden;
}


.advantages__list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

        @include mq(mobile-only) {
        display: flex;
        flex-direction: column;
        }

        @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        // width: 767px; 

        flex-wrap: wrap; 
        }
        
        // @include mq(desktop) { 
        // width: 1200px; 
        // }

}

.advantages__item {
    position: relative;
    border-radius: 12px;
    height: 167px;
    max-width: 440px;
    margin: 0px 0px 32px 0px;
    padding: 0px;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:last-child  {
        margin-right: 0px; 
        }

    @include mq(tablet) {
        display: block;
        width: 180px; 
        height: 247px;
        margin: 0px 18px 0px 0px;
        }
        
        @include mq(desktop) { 
        display: block;
        width: 288px; 
        height: 223px;
        margin-right: 115px;
        }


        &:hover,
        &:focus { 
        box-shadow: 2px 10px 10px rgba(212, 20, 67, 0.3);
        width: 438px;
        padding: 7px;
        

    @include mq(tablet) {
       
        width: 185px;
        height: 235px;
        padding: 3px 4px;
        box-shadow: 2px 5px 5px rgba(212, 20, 67, 0.3);
        }
        
    @include mq(desktop)  {
        display:block;
        height: 223px;
        width:288px;
        padding-left:7px;
        box-shadow: 2px 10px 10px rgba(212, 20, 67, 0.3);
        }
    }

}

.advantages__amount {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondaryTextColor;


    padding-bottom: 4px;
    margin:0px;

    @include mq(tablet) {
        padding-bottom: 13px;
        @include  fontstyle(400,48px,55px);
        }
        
    @include mq(desktop) {
        padding-bottom: 16px;
        @include  fontstyle(400,58px,66px);
        }

}

.advantages__item--721 {
    

    &::before {
        content: ' ';
        display: block;
        height: 51px;
        width: 33px;
        margin: 1px 0px 16px 0px;
        
       
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/advantages/image-1.png);
    
        @include mq(retina) {
            background-image: url(../images/advantages/image-1@2x.png);
        }

        @include mq(tablet) {
            background-image: url(../images/advantages/image-1.png);
        }
        @include mq(retina) {
            background-image: url(../images/advantages/image-1@2x.png);
        }
        

        @include mq(desktop) {
            background-image: url(../images/advantages/image-1.png);
        }
        @include mq(retina) {
            background-image: url(../images/advantages/image-1@2x.png);
        }
    }
    }

.advantages__item--16kg {
   

    &::before {
    content: ' ';
    display: block;
    background-color: inherit;

    height: 50px;
    width: 50px;
    margin: 1px 0px 16px 0px;
   
   
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/advantages/image-2.png);
    
        @include mq(retina) {
            background-image: url(../images/advantages/image-2@2x.png);
        }

        @include mq(tablet) {
            background-image: url(../images/advantages/image-2.png);

            @include mq(retina) {
                background-image: url(../images/advantages/image-2@2x.png);
            }
        }

        @include mq(desktop) {
            background-image: url(../images/advantages/image-2.png);

        @include mq(retina) {
            background-image: url(../images/advantages/image-2@2x.png);
        }
    }

}

}

.advantages__item--84 {
    margin: 0px;

    &::before {
    content: ' ';
    display: block;
    background-color: inherit;

    height: 50px;
    width: 44px;
    margin: 0px 0px 16px 0px;


    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/advantages/image-3.png);
    
        @include mq(retina) {
            background-image: url(../images/advantages/image-3@2x.png);
        }

        @include mq(tablet) {
            background-image: url(../images/advantages/image-3.png);
        }
            @include mq(retina) {
                background-image: url(../images/advantages/image-3@2x.png);
            }
        

        @include mq(desktop) {
            background-image: url(../images/advantages/image-3.png);
        }
        @include mq(retina) {
            background-image: url(../images/advantages/image-3@2x.png);
        }
    
    }
    
    }


.advantages__about {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: $blacktext;
    border-radius: 7px;

    width: 230px;
    margin: 0px;

    transition-property: font-size;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

    @include mq(tablet) {
        @include  fontstyle(700,14px,174%);
        width: 162px;
        margin: 0px;
        }
        
    @include mq(desktop)  {
        width:288px;
        @include  fontstyle(700,16px,176%);
        width: 317px;
        margin: 0px;
        }
    
        .advantages__item:hover &,
        .advantages__item:focus & {
            font-size: 14px;

            @include mq(desktop)  {
            font-size: 17px;
            }
        
        }

}








