.advantages {
    background-color: $secondaryBgc;
    padding-bottom: 87px;
}

.advantages__title {
    opacity: 0;
    visibility: hidden;
}


.advantages__list {
    display: block;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

        @media screen and (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        width: 767px; 
        margin-right: -4px; 
        }
        
        @media screen and (min-width:768px) and (max-width:1199px) { 
        width: 1200px; 
        }

}

.advantages__item {
    position: relative;
    height: 167px;
    width: 440px;
    margin-bottom: 32px;

        @media screen and (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
        
        width: 180px; 
        height: 226px;
        margin-right: 4px;
        }
        
        @media screen and (min-width:768px) and (max-width:1199px) { 
        width: 288px; 
        height: 223px;
        margin-right: 115px;
        }

        &:last-child  {
        margin-bottom: 0px; 
        }
}

.advantages__amount--721 {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondaryTextColor;

    
    padding-bottom: 4px;
    margin:0px;

    @media screen and (max-width:767px) {
        @include  fontstyle(400,48px,55px);
        }
        
        @media screen and (min-width:768px) and (max-width:1199px) {
            @include  fontstyle(400,58px,66px);
            }

    &::before {
        content: ' ';
        display: block;
        background-color: inherit;
    
        height: 50px;
        width: 33px;
        margin: 0px 0px 16px 0px;
        
       
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../images/advantages/image-1.png);
    
            @include mq(retina) {
                background-image: url(../images/advantages/image-1@2x);
            }
    
            @include mq(tablet) {
                background-image: url(../images/advantages/image-1.png);
            }
            @include mq(retina) {
                background-image: url(../images/advantages/image-1@2x);
            }
            
    
            @include mq(desktop) {
                background-image: url(../images/advantages/image-1.png);
            }
            @include mq(retina) {
                background-image: url(../images/advantages/image-1@2x);
            }
        }
    }



.advantages__amount--16kg {
   font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondaryTextColor;

    
    padding-bottom: 4px;
    margin:0px;

    @media screen and (max-width:767px) {
        @include  fontstyle(400,48px,55px);
        }
        
        @media screen and (min-width:768px) and (max-width:1199px) {
            @include  fontstyle(400,58px,66px);
            }

    &::before {
    content: ' ';
    display: block;
    background-color: inherit;

    height: 50px;
    width: 50px;
    margin: 0px 0px 16px 0px;
   
   
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/advantages/image-2.png);
    
            @include mq(retina) {
                background-image: url(../images/advantages/image-2@2x);
            }
    
            @include mq(tablet) {
                background-image: url(../images/advantages/image-2.png);
    
                @include mq(retina) {
                    background-image: url(../images/advantages/image-2@2x);
                }
            }
    
            @include mq(desktop) {
                background-image: url(../images/advantages/image-2.png);
    
            @include mq(retina) {
                background-image: url(../images/advantages/image-2@2x);
            }
        }

    }

}

.advantages__amount--84 {
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $secondaryTextColor;

    
    padding-bottom: 4px;
    margin:0px;

    @media screen and (max-width:767px) {
        @include  fontstyle(400,48px,55px);
        }
        
        @media screen and (min-width:768px) and (max-width:1199px) {
            @include  fontstyle(400,58px,66px);
            }

    &::before {
    content: ' ';
    display: block;
    background-color: inherit;

    height: 50px;
    width: 44px;
    margin: 0px 0px 16px 0px;


    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/advantages/image-3.png);
    
            @include mq(retina) {
                background-image: url(../images/advantages/image-3@2x);
            }
    
            @include mq(tablet) {
                background-image: url(../images/advantages/image-3.png);
            }
                @include mq(retina) {
                    background-image: url(../images/advantages/image-3@2x);
                }
            
    
            @include mq(desktop) {
                background-image: url(../images/advantages/image-3.png);
            }
            @include mq(retina) {
                background-image: url(../images/advantages/image-3@2x);
            }
        
        }
    
    }


.advantages__about {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 0.02em;
    color: $blacktext;

    padding: 0px 180px 0px 0px;
    margin: 0px;
    max-width: 464px;

    @media screen and (max-width:767px) {
        @include  fontstyle(700,14px,174%);
        }
        
        @media screen and (min-width:768px) and (max-width:1199px) {
            @include  fontstyle(700,16px,176%);
            }

}







