// reviews style
.reviews { 
  background: #fff;
  
  padding-top: 60px;    
  padding-bottom: 60px;
  
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__img {
  width: 85px;
  height: 85px;
  text-align: center;
  margin-bottom: 16px;
}

.reviews__text {
  position: relative;

  background-color: #fafafa;
  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 76px,
    #e1e1e1 76px,
    #e1e1e1 78px,
    #fafafa 78px,
    #fafafa 108px,
    #e1e1e1 108px,
    #e1e1e1 110px,
    #fafafa 110px,
    #fafafa 138px
  );
  background-size: 80%;

  max-width: 968px;
  padding: 47px 109px 39px 109px;
  margin-bottom: 36px;

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000000;
}

.reviews__text::before {
  position: absolute;
  top: 32px;
  left: 71px;

  display: inline-block;
  content: "";

  width: 54px;
  height: 40px;
  background-image: url('../images/reviews/quotes.svg');
  background-repeat: no-repeat;
}
.reviews__person {
  position: relative;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.reviews__person::before {
  position: absolute;
  display: inline-block;
  content: "";

  top: -16px;
  left: 40%;

  width: 32px;
  height: 4px;
  background-image: url('../images/reviews/points.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}
