// reviews style
.reviews { 
  background: #fff;
  
  padding-top: 60px;    
  padding-bottom: 60px;
  
}

.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__img {
  width: 85px;
  height: 85px;
  text-align: center;
  margin-bottom: 16px;
}

.reviews__text {
  position: relative;

  color: #000000;
  text-align: center;

  @media screen and (max-width: 767.5px) {
  background-color:  #fafafa;
  background-image: url('../images/reviews/quotes.svg'), 
  repeating-linear-gradient(
    to bottom,
    #e1e1e1,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 31px
    );
  
  background-repeat: no-repeat;
  background-position: top 30px left 53px, top 74px left 50px;
  background-size: 54px 40px, 180px 218px;

  max-width: 280px; 
  padding: 43px 58px 26px 65px;
  margin-bottom: 42px;

  @include fontstyle(500, 12px, 2.55);
    
  }

  @include mq(tablet){
    background-color:  #fafafa;
    background-image: url('../images/reviews/quotes.svg'), 
    repeating-linear-gradient(
      to bottom,
      #e1e1e1,
      #e1e1e1 1px,
      #fafafa 1px,
      #fafafa 31px
      );
    background-repeat: no-repeat;
    background-position: top 20px left 6px, top 68px left 6px;
    background-size: 60.35px 40px, 608px 64px;
  
      max-width: 620px; 
      padding: 37px 55.18px 44px 50.71px;
      margin-bottom: 24px;
      @include fontstyle(500, 14px, 2.16);
    
  }

  @include mq(desktop){
    background-color:  #fafafa;
    background-image: url('../images/reviews/quotes.svg'), 
    repeating-linear-gradient(
      to bottom,
      #e1e1e1,
      #e1e1e1 1px,
      #fafafa 1px,
      #fafafa 31px
      );
  background-repeat: no-repeat;
  background-position: top 32px left 72px, top 76px left 72px;
  background-size: 54px 40px, 822px 33px;

  max-width: 968px;
  padding: 47px 109px 39px 109px;
  margin-bottom: 36px;

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
}

}

// .reviews__text::before {
//   position: absolute;
//   top: 32px;
//   left: 71px;

//   display: inline-block;
//   content: "";

//   width: 54px;
//   height: 40px;
//   background-image: url('../images/reviews/quotes.svg');
//   background-repeat: no-repeat;
// }
.reviews__person {
  position: relative;

  @include mq(mobile){
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
    text-align: center;
    color: #000000;
  }

  @include mq(tablet){
    font-size: 16px;
  }

  @include mq(desktop){
    font-size: 20px;
  }
}

.reviews__person::before {
  position: absolute;
  display: inline-block;
  content: "";

  top: -16px;
  left: 40%;

  width: 32px;
  height: 4px;
  background-image: url('../images/reviews/points.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}
