@import '../../../node_modules/slick-carousel/slick/slick.scss';



.slick-dots {
 position: absolute;
 @include mq(mobile-only){
  bottom: -30px;
 }
 bottom: -40px;
 left: 50%;
 transform: translate(-50%);
 
  li{
    display: inline-block;
    margin: 0 9px;
   }
 
  button {
    padding: 0;
    border: none;
    background-color: #D9D9D9;
    cursor: pointer;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 0;
 };

}

.slick-active {
  button{
  background-color: transparent;
  width: 13px;
  height: 14px;
  border-radius: 0;
  background-image: url('../images/reviews/frame.svg');
  background-size: contain;
  background-repeat: no-repeat;
  
}
}

// reviews style
.reviews { 
  background: #fff;
  width: 100%;
 
  
  @include mq(mobile-only){ 
    padding-top: 30px;
    padding-bottom: 60px;}
   

  @include mq(tablet){ 
    padding-top: 30px;
    padding-bottom: 80px;
    }

  @include mq(desktop){
    padding-top: 60px;
    padding-bottom: 100px; 
    } 
}


.reviews__item {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}

.reviews__img {
  width: 85px;
  height: 85px;
  text-align: center;
  @include mq(mobile-only){
  margin-bottom: 32px;}
  @include mq(tablet){
    margin-bottom: 20px;
  }
  @include mq(desktop){
    margin-bottom: 16px;
  }


}
.reviews__backgraund{
  
  @include mq(mobile-only) {
    background-color:  #fafafa;
    background-image: 
    repeating-linear-gradient(
      to bottom,
      #e1e1e1,
      #e1e1e1 1px,
      #fafafa 1px,
      #fafafa 30px
      );
    
    background-repeat: no-repeat;
    background-position: top 74px left 50px;
    background-size: 180px 218px;
  
    max-width: 280px; 
    height: 308px;
    padding: 43px 58px 26px 65px;
    margin-bottom: 36px;}

    @include mq(tablet){
      background-color:  #fafafa;
      background-image: 
      repeating-linear-gradient(
        to bottom,
        #e1e1e1,
        #e1e1e1 1px,
        #fafafa 1px,
        #fafafa 30px
        );
      background-repeat: no-repeat;
      background-position: top 68px left 6px;
      background-size: 608px 64px;
    
      max-width: 620px;
      height: 164px;
      padding: 37px 55.18px 44px 50.71px  ;
      margin-bottom: 24px;}

    @include mq(desktop){
      background-color:  #fafafa;
      background-image:
      repeating-linear-gradient(
        to bottom,
        #e1e1e1,
        #e1e1e1 1px,
        #fafafa 1px,
        #fafafa 33px
         );
    background-repeat: no-repeat;
    background-position: top 72px left 72px;
    background-size: 822px 34px;
      
    max-width: 968px;
    height: 138px;
    padding: 37px 75px 44px 75px;
    margin-bottom: 36px;}

}
.reviews__backgraund::before {
  position: absolute;
  display: inline-block;
  content: "";
 

  top: -16px;
  left: 40%;

  width: 32px;
  height: 4px;
  background-image: url('../images/reviews/points.svg');
  background-repeat: no-repeat;
  background-position: 50%;}
.reviews__text {
  position: relative;
  z-index: 100;
  color: #000000;
  text-align: center;

  @include mq(mobile-only) {
      @include fontstyle(500, 12px, 2.55);
  }

  @include mq(tablet){
      @include fontstyle(500, 14px, 2.16);
      letter-spacing: 0.04;
      
  }

  @include mq(desktop){
    @include fontstyle(500, 16px, 2.2);
    letter-spacing: 0.04em;
  }

}
.reviews__text::before {
  content: "";
  position: absolute;
  z-index: -1;
  
  background-image: url('../images/reviews/quotes.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @include mq(mobile-only) {
  top: -13px;
  left: -15px;
               
  width: 54px;
  height: 40px;
}

@include mq(tablet) {
  top: -16px;
  left: -45;
               
  width: 60px;
  height: 40px;
}

@include mq(desktop) {
  top: -13px;
  left: -29px;
               
  width: 54px;
  height: 40px;
}
}
 

.reviews__person {
  position: relative;
  color: #000000;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;

  @include mq(mobile-only){
  font-size: 14px;
   }

  @include mq(tablet){
  font-size: 16px;
    
  }

  @include mq(desktop){
  font-size: 20px;
  }
}

.reviews__person::before {
  position: absolute;
  display: inline-block;
  content: "";
 

  top: -16px;
  left: 40%;

  width: 32px;
  height: 4px;
  background-image: url('../images/reviews/points.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}


