.gallery {
    padding-left:0;
    padding-right: 0;
    height: 136px;
    background-image: linear-gradient(
    to bottom,
    $secondaryBgc 37%,
    $btnBgcPrimary 37%);

    @include mq(tablet-only) {
        height: 327;
    }

    @include mq(desktop) {
        height: 430;
        background-image: linear-gradient(
    to bottom,
    $secondaryBgc 20%,
    $btnBgcPrimary 20%);
    }
}

.gallery__container {
    display: grid;
grid-template-columns: 43px 43px 89px 43px 43px 43px; 
grid-template-rows: 89px 43px;
grid-gap: 2.5px;
width: 320px;
margin-left: auto;
margin-right: auto;

@include mq(tablet-only) {
display: grid;
grid-template-columns: 104px 104px 214px 104px 104px 104px; 
grid-template-rows: 214px 104px;
grid-gap: 6px;
width: 768px;
margin-left: auto;
margin-right: auto;
}

     @include mq(desktop) {
display: grid;
grid-template-columns: 138px 138px 283px 138px 138px 138px; 
grid-template-rows: 283px 138px;
grid-gap: 8px;
width: 1013px;
margin-left: auto;
margin-right: auto;
}
}


.grid-item {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: relative;
}